@charset "UTF-8";

/* =============================================================================
CONFIG
============================================================================= */

$butler: 'Butler Regular';
$butler--black: 'Butler Black';

/* =============================================================================
BASE
============================================================================= */

@font-face {
    font-family: $butler;
    src: url($file-path-fonts + 'Butler/Regular/Butler.eot');
    src: url($file-path-fonts + 'Butler/Regular/Butler.eot?#iefix') format('embedded-opentype'),
        url($file-path-fonts + 'Butler/Regular/Butler.woff2') format('woff2'),
        url($file-path-fonts + 'Butler/Regular/Butler.woff') format('woff'),
        url($file-path-fonts + 'Butler/Regular/Butler.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $butler--black;
    src: url($file-path-fonts + 'Butler/Black/Butler-Black.eot');
    src: url($file-path-fonts + 'Butler/Black/Butler-Black.eot?#iefix') format('embedded-opentype'),
        url($file-path-fonts + 'Butler/Black/Butler-Black.woff2') format('woff2'),
        url($file-path-fonts + 'Butler/Black/Butler-Black.woff') format('woff'),
        url($file-path-fonts + 'Butler/Black/Butler-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

