<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>De Paal | Home</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="../js/vendors/modernizr-custom.js"></script>
	<script async src="../js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<!--GO TO https://realfavicongenerator.net/ TO GENERATE THE FAVICON FILES-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link href="./css/main.css" rel="stylesheet">
</head>

<body class="block-scroll">

	<h1 class="m-home__title">De paal</h1>
	<div id="m-home" class="m-home">
		<div id="home1" class="section">
			<div class="m-home__bg"></div>
			<img class="m-home__paal m-story__paal m-story__paal--top" src="/img/paal1.svg" />
			<div class="m-home__overlay"></div>
			<div class="m-home__content">
				<blockquote>“Jekerein is hie geliek, van jonk tot oud. Veer helpe mekaar in gooje en slechte tieje.”</blockquote>
				<p>Tradities definiëren cultuur als geen ander, de paal ziet dat als geen ander. Hij ziet álles. Ontdek de schutterij en zijn gebruiken, pieken en dalen en zie ook alles. Álles</p>
			</div>
			<a href="#home-2">
				<img class="m-home__next" src="/img/next.svg" />
			</a>
		</div>
		<div id="home2" class="section">
			<div class="m-home__choice">
				<p>Start het verhaal door een keuze te maken uit de Nederlandstalige of Limburgse versie.</p>
				<a class="o-btn o-btn--primary o-btn__lang" href="/story?lang=nl"><img src="/img/nl.svg" /> Nederlands</a>
				<a class="o-btn o-btn--primary o-btn__lang" href="/story?lang=lim"><img src="/img/lim.svg" /> Limburgs</a>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="./js/vendors.bundle.js"></script>
	<script type="text/javascript" src="./js/app.bundle.js"></script>
</body>

</html>
