<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Base Project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="../js/vendors/modernizr-custom.js"></script>
	<script async src="../js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<!--GO TO https://realfavicongenerator.net/ TO GENERATE THE FAVICON FILES-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body class="block-scroll">
	<nav class="m-navigation">
		<button class="o-hamburger o-hamburger--squeeze m-navigation__toggle float-left" type="button" aria-label="Toggle main navigation"
		aria-expanded="false">
			<span class="o-hamburger-box">
				<span class="o-hamburger-inner" />
			</span>
		</button>
		<ul id="m-navigation__list" class="m-navigation__list">
			<li data-menuanchor="1" class="m-navigation__item">
				<a href="#1">Home</a>
			</li>
			<li data-menuanchor="2" class="m-navigation__item">
				<a href="#2">Home</a>
			</li>
			<li data-menuanchor="3" class="m-navigation__item">
				<a href="#3">Home</a>
			</li>
			<li data-menuanchor="4" class="m-navigation__item">
				<a href="#4">Home</a>
			</li>
			<li data-menuanchor="5" class="m-navigation__item">
				<a href="#5">Home</a>
			</l>
			<li data-menuanchor="6" class="m-navigation__item">
				<a href="#6">Home</a>
			</li>
			<li data-menuanchor="7" class="m-navigation__item">
				<a href="#7">Home</a>
			</li>
			<li data-menuanchor="8" class="m-navigation__item">
				<a href="#8">Home</a>
			</li>
			<li data-menuanchor="9" class="m-navigation__item">
				<a href="#9">Home</a>
			</li>
		</ul>
	</nav>

	<div id="m-story" class="m-story">
		<!-- Info section -->
		<div class="m-story__moreinfo">
			<div class="m-story__moreinfo--content">
				<h2 class="m-story__moreinfo--title"></h2>
				<blockquote class="m-story__moreinfo--quote"></blockquote>
			</div>
		</div>

		<!-- Paal 1 -->
		<div id="paal1" class="section">
			<!-- text SVG -->
			<svg class="m-story__text" data-id="1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 472.8 533.6" style="enable-background:new 0 0 472.8 533.6;" xml:space="preserve"></svg>

			<div data-number="bg1" class="m-story__bg"></div>
			<img class="m-story__paal m-story__paal--top" src="/img/paal1.svg" />
			<a href="#2">
				<img class="m-story__next" src="/img/next.svg" />
			</a>
		</div>

		<!-- Paal 2 -->
		<div id="paal2" class="section">
			<!-- text SVG -->
			<svg class="m-story__text" data-id="2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 472.8 533.6" style="enable-background:new 0 0 472.8 533.6;" xml:space="preserve"></svg>
			<div data-number="bg2" class="m-story__bg"></div>
			<img class="m-story__paal" src="/img/paal2.svg" />
		</div>

		<!-- Paal 3 -->
		<div id="paal3" class="section">
			<!-- text SVG -->
			<svg class="m-story__text" data-id="3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 472.8 533.6" style="enable-background:new 0 0 472.8 533.6;" xml:space="preserve"></svg>
			<div data-number="bg3" class="m-story__bg"></div>
			<img class="m-story__paal" src="/img/paal3.svg" />
		</div>

		<!-- Paal 4 -->
		<div id="paal4" class="section">
			<!-- text SVG -->
			<svg class="m-story__text" data-id="4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 472.8 533.6" style="enable-background:new 0 0 472.8 533.6;" xml:space="preserve"></svg>
			<div data-number="bg4" class="m-story__bg"></div>
			<img class="m-story__paal" src="/img/paal4.svg" />
		</div>

		<!-- Paal 5 -->
		<div id="paal5" class="section">
			<!-- text SVG -->
			<svg class="m-story__text" data-id="5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 472.8 533.6" style="enable-background:new 0 0 472.8 533.6;" xml:space="preserve"></svg>
			<div data-number="bg5" class="m-story__bg"></div>
			<img class="m-story__paal" src="/img/paal5.svg" />
		</div>

		<!-- Paal 6 -->
		<div id="paal6" class="section">
			<!-- text SVG -->
			<svg class="m-story__text" data-id="6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 472.8 533.6" style="enable-background:new 0 0 472.8 533.6;" xml:space="preserve"></svg>
			<div data-number="bg6" class="m-story__bg"></div>
			<img class="m-story__paal" src="/img/paal6.svg" />
		</div>

		<!-- Paal 7 -->
		<div id="paal7" class="section">
			<!-- text SVG -->
			<svg class="m-story__text" data-id="7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 472.8 533.6" style="enable-background:new 0 0 472.8 533.6;" xml:space="preserve"></svg>
			<div data-number="bg7" class="m-story__bg"></div>
			<img class="m-story__paal m-story__paal--top" src="/img/paal7.svg" />
		</div>

		<!-- Paal 8 -->
		<div id="paal8" class="section">
			<!-- text SVG -->
			<svg class="m-story__text" data-id="8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 472.8 533.6" style="enable-background:new 0 0 472.8 533.6;" xml:space="preserve"></svg>
			<div data-number="bg8" class="m-story__bg"></div>
			<img class="m-story__paal" src="/img/paal8.svg" />
		</div>

		<!-- Paal 9 -->
		<div id="paal9" class="section">
			<!-- text SVG -->
			<svg class="m-story__text" data-id="9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 472.8 533.6" style="enable-background:new 0 0 472.8 533.6;" xml:space="preserve"></svg>
			<div data-number="bg9" class="m-story__bg"></div>
			<img class="m-story__paal" src="/img/paal9.svg" />
		</div>
	</div>
</body>

</html>
